# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
lib/

# Android
android/build/
android/.gradle/
android/local.properties
*.hprof
example/android/build/
example/ios/build/
example/ios/Pods/
example/ios/xcuserdata/
example/ios/DerivedData/
example/ios/xcuserdata/

# iOS
ios/build/
ios/Pods/
*.xcworkspace/xcuserdata
DerivedData/

# Misc
.DS_Store
*.tgz
coverage/
